<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('navbar') %>

     <h1>Welcome to Smart Store 👋</h1>
  <p>Here you can find the latest products recently added by sellers.</p>

  <h2>Latest Products</h2>
  
    <ul>
        <li>Product 1 - $10.00</li>
        <li>Product 2 - $15.00</li>
        <li>Product 3 - $20.00</li> 
    </ul>

</body>
  

</body>
</html>