<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('navbar') %>

     <h1>Welcome to Smart Store 👋</h1>
  <p>Here you can find the latest products recently added by sellers.</p>

  <h2>Latest Products</h2>
  
  <% if (latestProducts && latestProducts.length > 0) { %>
    <ul>
      <% latestProducts.forEach(product => { %>
        <li><%= product.name %> - $<%= product.price %></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No products available yet.</p>
  <% } %>

</body>
  

</body>
</html>